body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 10px; 
    padding: 0;
    font-family: 'Indie Flower';
    color: #491617;
    overflow-y: auto;
}

.project-menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.project-menu a {
    margin: 0 20px;
    text-decoration: none;
    color: #491617;
    font-weight: bold;
    font-family: 'Indie Flower';
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.project-menu a:hover,
.project-menu a:active,
.project-menu a:focus {
    border-bottom-color: #491617;
        }

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.table-hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
        
.table-visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


th, td {
    padding: 10px;
    font-family: Arial, sans-serif;
}

th:first-child,
td:first-child {
    text-align: left;
    width: 80%;
    max-width: 80%;
}

th:last-child,
td:not(:first-child) {
  text-align: center;
  font-weight: normal;
  font-family: Arial, sans-serif;
}

a {
    color: #491617;
    font-family: Arial, sans-serif;
}

table a:hover,
table a:active,
table a:focus {
    text-decoration: underline;
}

strong {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
        
#cat {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 999;
    pointer-events: none;
}
        
.fade-in {
    opacity: 1;
    visibility: visible;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
}
